*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px black;
}

body{
    background-color: aquamarine ;
}

.container {
    width: 720px;
    height: 720px;
    margin: 3rem auto;
    background-color: antiquewhite
} 

.grid{
    display: flex;
    flex-wrap: wrap;   
    width: 100%;
    height: 100%;

}

.square{
width: calc(100% / 10);
height: calc(100% / 10);
background-color: red;
display: flex;
justify-content: center;
align-items: center;
}

.clicked{
    background-color: aqua;
}