*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid 1px black; */
}

body{
    background-color: aquamarine ;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}


.title{
    display: flex;
}

.title img{
    width: 50px;
}

.titolo{
    margin: auto 0;
}

#button {
    width: 100px;
    margin: auto 0;
}

.play{
    width: 100%;
}
.container {
    width: 720px;
    height: 720px;
    margin: 3rem auto;
} 

.grid{
    display: flex;
    flex-wrap: wrap;   
    width: 100%;
    height: 100%;

}

.square{
width: calc(100% / 10);
height: calc(100% / 10);
background-color: aquamarine;
display: flex;
justify-content: center;
align-items: center;
border: solid 1px black;
}

.clicked{
    background-color: blue;
}


footer{

}

.saluti{
    background-color: white;
    display: flex;
    padding-left: 20px;
}